<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Parking karte</title>
</head>
<body>
<form action="/Parking/novaKarta" method="post">
    <table>
        <tr>
            <td>Registarska oznaka vozila</td>
            <td><input type="text" name="registracija" id="registracija"/></td>
        </tr>
        <tr>
            <td>Početak parkinga</td>
            <td><input type="text" name="pocetakParkinga" id="pocetakParkinga"/></td>
        </tr>
        <tr>
            <td>Trajanje u minutima</td>
            <td><input type="text" name="trajanjeUMinutima" id="trajanjeUMinutima"/></td>
        </tr>
        <tr>
            <td>Osoba sa invaliditetom</td>
            <td>
                <input type="radio" value="DA" name="osobaSaInvaliditetom"/> DA
                <input type="radio" value="NE" name="osobaSaInvaliditetom"/> NE
            </td>
        </tr>
        <tr>
            <td>Zona</td>
            <td>
                <select name="zona">
                    <option value="bela"> Bela</option>
                    <option value="plava"> Plava</option>
                    <option value="crvena"> Crvena</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Dodaj"/></td>
        </tr>
    </table>
</form>
</body>
</html>
